{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": { "node": "current" }
        }]
      ],
    },
    "es": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ]
    },
    "cjs": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ]
    }
  }
}
