{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": "current" }
        }]
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "es": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "loose": true
        }]
      ]
    },
    "cjs": {
      "presets": [
        ["@babel/preset-env", {
          "modules": "commonjs",
          "loose": true
        }]
      ]
    }
  }
}
